# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_smoothing2_Reg3.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,217.774599,242.930668,180.930066,209.165430,263.740760,282.804639,234.185665,251.670782,225.920056,236.535232,...,206.275029,198.288288,226.977928,188.625021,269.387212,240.345304,199.864666,222.641881,152.935187,181.772174
1,218.170207,243.162352,181.188283,209.229425,263.645224,282.566208,233.849222,251.399776,226.070043,236.605439,...,206.327307,198.312659,227.204584,188.755642,269.186951,239.957409,199.826290,222.569317,152.659342,181.583242
2,218.566640,243.391827,181.448150,209.293887,263.546981,282.329663,233.513263,251.127383,226.217667,236.678232,...,206.381960,198.338475,227.430371,188.887730,268.984770,239.570115,199.788536,222.498237,152.383094,181.396746
3,218.963998,243.619173,181.709370,209.359166,263.446095,282.095104,233.177442,250.853437,226.363208,236.753423,...,206.438990,198.365888,227.655468,189.021122,268.780495,239.183495,199.751706,222.428767,152.106454,181.212740
4,219.362447,243.844582,181.971595,209.425648,263.342829,281.862540,232.841279,250.577746,226.507030,236.830717,...,206.498603,198.394939,227.880017,189.155630,268.573997,238.797611,199.715905,222.361175,151.829327,181.031371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,240.842192,225.493872,186.161293,168.746854,290.125966,278.359253,251.284803,238.057134,234.084081,227.072033,...,208.063014,218.150333,227.500042,171.740167,279.291011,241.091078,226.577232,211.259677,167.182356,144.012906
2439,240.838339,225.193644,186.158236,168.801166,290.099684,278.240476,251.416575,238.186267,233.905906,227.057967,...,207.847027,218.029800,227.372573,171.813916,279.132031,241.322583,226.512762,211.122695,167.361938,144.194156
2440,240.835359,224.890461,186.152840,168.856330,290.072086,278.120520,251.546598,238.314937,233.725835,227.044989,...,207.630922,217.908241,227.248109,171.889770,278.973606,241.555246,226.448731,210.986402,167.540383,144.375144
2441,240.833573,224.584238,186.145056,168.912353,290.043592,277.999301,251.674989,238.443174,233.543693,227.032526,...,207.414766,217.785837,227.126460,171.968173,278.815774,241.789214,226.385133,210.850667,167.717528,144.556286
2442,240.833291,224.274990,186.134915,168.969321,290.014623,277.876785,251.801863,238.570923,233.359245,227.020120,...,207.198785,217.662767,227.007411,172.049382,278.658692,242.024537,226.321951,210.715291,167.893351,144.737845

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,217.774599,242.930668,180.930066,209.165430,263.740760,282.804639,234.185665,251.670782,225.920056,236.535232,...,206.275029,198.288288,226.977928,188.625021,269.387212,240.345304,199.864666,222.641881,152.935187,181.772174
1,218.170207,243.162352,181.188283,209.229425,263.645224,282.566208,233.849222,251.399776,226.070043,236.605439,...,206.327307,198.312659,227.204584,188.755642,269.186951,239.957409,199.826290,222.569317,152.659342,181.583242
2,218.566640,243.391827,181.448150,209.293887,263.546981,282.329663,233.513263,251.127383,226.217667,236.678232,...,206.381960,198.338475,227.430371,188.887730,268.984770,239.570115,199.788536,222.498237,152.383094,181.396746
3,218.963998,243.619173,181.709370,209.359166,263.446095,282.095104,233.177442,250.853437,226.363208,236.753423,...,206.438990,198.365888,227.655468,189.021122,268.780495,239.183495,199.751706,222.428767,152.106454,181.212740
4,219.362447,243.844582,181.971595,209.425648,263.342829,281.862540,232.841279,250.577746,226.507030,236.830717,...,206.498603,198.394939,227.880017,189.155630,268.573997,238.797611,199.715905,222.361175,151.829327,181.031371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,240.842192,225.493872,186.161293,168.746854,290.125966,278.359253,251.284803,238.057134,234.084081,227.072033,...,208.063014,218.150333,227.500042,171.740167,279.291011,241.091078,226.577232,211.259677,167.182356,144.012906
2439,240.838339,225.193644,186.158236,168.801166,290.099684,278.240476,251.416575,238.186267,233.905906,227.057967,...,207.847027,218.029800,227.372573,171.813916,279.132031,241.322583,226.512762,211.122695,167.361938,144.194156
2440,240.835359,224.890461,186.152840,168.856330,290.072086,278.120520,251.546598,238.314937,233.725835,227.044989,...,207.630922,217.908241,227.248109,171.889770,278.973606,241.555246,226.448731,210.986402,167.540383,144.375144
2441,240.833573,224.584238,186.145056,168.912353,290.043592,277.999301,251.674989,238.443174,233.543693,227.032526,...,207.414766,217.785837,227.126460,171.968173,278.815774,241.789214,226.385133,210.850667,167.717528,144.556286
2442,240.833291,224.274990,186.134915,168.969321,290.014623,277.876785,251.801863,238.570923,233.359245,227.020120,...,207.198785,217.662767,227.007411,172.049382,278.658692,242.024537,226.321951,210.715291,167.893351,144.737845

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.51
Fold 1 - Mean Absolute Error (MAE): 0.50
Fold 1 - Root Mean Squared Error (RMSE): 0.72
Fold 1 - Time taken: 0.02 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.49
Fold 2 - Mean Absolute Error (MAE): 0.49
Fold 2 - Root Mean Squared Error (RMSE): 0.70
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.49
Fold 3 - Mean Absolute Error (MAE): 0.50
Fold 3 - Root Mean Squared Error (RMSE): 0.70
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.50
Fold 4 - Mean Absolute Error (MAE): 0.50
Fold 4 - Root Mean Squared Error (RMSE): 0.71
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.47
Fold 5 - Mean Absolute Error (MAE): 0.50
Fold 5 - Root Mean Squared Error (RMSE): 0.69
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.49
Mean - Mean Absolute Error (MAE): 0.50
Mean - Root Mean Squared Error (RMSE): 0.70
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 0.66
Fold 1 - Mean Absolute Error (MAE): 0.38
Fold 1 - Root Mean Squared Error (RMSE): 0.81
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 0.32
Fold 2 - Mean Absolute Error (MAE): 0.36
Fold 2 - Root Mean Squared Error (RMSE): 0.57
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 7.11
Fold 3 - Mean Absolute Error (MAE): 0.58
Fold 3 - Root Mean Squared Error (RMSE): 2.67
Fold 3 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 4.04
Fold 4 - Mean Absolute Error (MAE): 0.54
Fold 4 - Root Mean Squared Error (RMSE): 2.01
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 3.06
Fold 5 - Mean Absolute Error (MAE): 0.47
Fold 5 - Root Mean Squared Error (RMSE): 1.75
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 3.04
Mean - Mean Absolute Error (MAE): 0.47
Mean - Root Mean Squared Error (RMSE): 1.56
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.44
Fold 1 - Mean Absolute Error (MAE): 0.25
Fold 1 - Root Mean Squared Error (RMSE): 0.66
Fold 1 - Time taken: 2.18 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.22
Fold 2 - Mean Absolute Error (MAE): 0.20
Fold 2 - Root Mean Squared Error (RMSE): 0.46
Fold 2 - Time taken: 2.56 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.37
Fold 3 - Mean Absolute Error (MAE): 0.22
Fold 3 - Root Mean Squared Error (RMSE): 0.61
Fold 3 - Time taken: 3.22 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 1.58
Fold 4 - Mean Absolute Error (MAE): 0.32
Fold 4 - Root Mean Squared Error (RMSE): 1.26
Fold 4 - Time taken: 3.16 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.70
Fold 5 - Mean Absolute Error (MAE): 0.25
Fold 5 - Root Mean Squared Error (RMSE): 0.84
Fold 5 - Time taken: 3.40 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.66
Mean - Mean Absolute Error (MAE): 0.25
Mean - Root Mean Squared Error (RMSE): 0.77
Mean - Time taken: 2.91 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.08
Fold 1 - Mean Absolute Error (MAE): 0.18
Fold 1 - Root Mean Squared Error (RMSE): 0.28
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.11
Fold 2 - Mean Absolute Error (MAE): 0.20
Fold 2 - Root Mean Squared Error (RMSE): 0.33
Fold 2 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.12
Fold 3 - Mean Absolute Error (MAE): 0.20
Fold 3 - Root Mean Squared Error (RMSE): 0.35
Fold 3 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.12
Fold 4 - Mean Absolute Error (MAE): 0.21
Fold 4 - Root Mean Squared Error (RMSE): 0.35
Fold 4 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.12
Fold 5 - Mean Absolute Error (MAE): 0.21
Fold 5 - Root Mean Squared Error (RMSE): 0.35
Fold 5 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.11
Mean - Mean Absolute Error (MAE): 0.20
Mean - Root Mean Squared Error (RMSE): 0.33
Mean - Time taken: 0.04 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 2.34
Fold 1 - Mean Absolute Error (MAE): 0.54
Fold 1 - Root Mean Squared Error (RMSE): 1.53
Fold 1 - Time taken: 2.40 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 1.34
Fold 2 - Mean Absolute Error (MAE): 0.51
Fold 2 - Root Mean Squared Error (RMSE): 1.16
Fold 2 - Time taken: 2.37 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 0.72
Fold 3 - Mean Absolute Error (MAE): 0.49
Fold 3 - Root Mean Squared Error (RMSE): 0.85
Fold 3 - Time taken: 2.35 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 0.74
Fold 4 - Mean Absolute Error (MAE): 0.47
Fold 4 - Root Mean Squared Error (RMSE): 0.86
Fold 4 - Time taken: 2.35 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 1.09
Fold 5 - Mean Absolute Error (MAE): 0.51
Fold 5 - Root Mean Squared Error (RMSE): 1.04
Fold 5 - Time taken: 3.03 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 1.25
Mean - Mean Absolute Error (MAE): 0.50
Mean - Root Mean Squared Error (RMSE): 1.09
Mean - Time taken: 2.50 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_smoothing2_Reg3.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_smoothing2_Reg3.xlsx file")

Results saved to Results__PL_model_1_smoothing2_Reg3.xlsx file