# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_smoothing1_Reg3.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,221.194248,243.954892,184.262604,211.976852,262.747662,281.462052,232.513715,250.530143,227.176312,235.543103,...,207.526852,198.531360,229.273374,189.789789,268.258096,237.418312,199.120021,221.778707,151.490454,180.607110
1,221.371177,243.858201,183.963413,211.791424,262.775793,281.665011,232.229149,250.712173,227.218528,235.640943,...,207.333227,198.377909,229.355508,190.051400,267.752420,237.342324,199.121741,222.067144,151.542112,180.432393
2,221.826517,244.045784,183.824416,211.759184,262.425393,281.698702,231.530605,250.375938,226.908393,235.911053,...,207.377379,198.327192,229.108611,190.030753,267.942772,237.213839,199.398844,222.183588,151.426515,180.684464
3,221.793030,244.122916,183.502129,211.541815,262.758413,281.682266,231.722739,250.381828,226.725229,236.157234,...,207.186607,198.815786,228.799193,189.990160,267.820521,237.635531,199.409168,222.052951,151.273242,180.564310
4,221.754721,244.266230,183.711848,211.581414,262.548840,281.728504,231.787786,250.413934,227.135757,236.088694,...,206.712633,199.024129,228.715087,190.215855,268.138551,237.263056,200.134784,222.192031,151.111485,180.466790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,240.072346,226.875179,185.662399,168.362049,290.625445,280.057247,250.801741,238.510859,234.849272,227.427348,...,209.715979,218.126033,229.128302,171.158853,279.695139,240.538123,226.837535,211.916449,166.076124,143.627582
2439,240.601693,226.389184,185.775999,167.838753,290.426862,279.730079,250.610604,238.591345,234.768135,227.491660,...,209.524463,218.183819,229.292131,171.189928,279.783295,240.915214,226.906577,212.250618,166.232459,143.735511
2440,240.705164,226.539457,185.922191,168.500033,290.035954,279.742742,250.962303,238.653545,234.805785,227.535510,...,208.857830,218.029093,228.849692,171.215697,279.961126,240.757039,226.847671,211.633559,166.709436,143.486949
2441,240.650253,226.011644,185.890952,168.382861,289.422823,278.756074,250.840670,238.968754,234.783467,226.797449,...,208.542368,218.257235,228.114388,171.292280,279.911656,240.786015,226.294045,211.245207,166.626598,143.696783
2442,241.144028,225.805247,185.726816,169.035119,289.486406,278.480978,250.802820,238.572567,234.177401,227.027723,...,208.907106,218.212113,227.930641,171.462574,279.691493,240.950868,225.528282,211.006221,166.294203,142.921166

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,221.194248,243.954892,184.262604,211.976852,262.747662,281.462052,232.513715,250.530143,227.176312,235.543103,...,207.526852,198.531360,229.273374,189.789789,268.258096,237.418312,199.120021,221.778707,151.490454,180.607110
1,221.371177,243.858201,183.963413,211.791424,262.775793,281.665011,232.229149,250.712173,227.218528,235.640943,...,207.333227,198.377909,229.355508,190.051400,267.752420,237.342324,199.121741,222.067144,151.542112,180.432393
2,221.826517,244.045784,183.824416,211.759184,262.425393,281.698702,231.530605,250.375938,226.908393,235.911053,...,207.377379,198.327192,229.108611,190.030753,267.942772,237.213839,199.398844,222.183588,151.426515,180.684464
3,221.793030,244.122916,183.502129,211.541815,262.758413,281.682266,231.722739,250.381828,226.725229,236.157234,...,207.186607,198.815786,228.799193,189.990160,267.820521,237.635531,199.409168,222.052951,151.273242,180.564310
4,221.754721,244.266230,183.711848,211.581414,262.548840,281.728504,231.787786,250.413934,227.135757,236.088694,...,206.712633,199.024129,228.715087,190.215855,268.138551,237.263056,200.134784,222.192031,151.111485,180.466790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,240.072346,226.875179,185.662399,168.362049,290.625445,280.057247,250.801741,238.510859,234.849272,227.427348,...,209.715979,218.126033,229.128302,171.158853,279.695139,240.538123,226.837535,211.916449,166.076124,143.627582
2439,240.601693,226.389184,185.775999,167.838753,290.426862,279.730079,250.610604,238.591345,234.768135,227.491660,...,209.524463,218.183819,229.292131,171.189928,279.783295,240.915214,226.906577,212.250618,166.232459,143.735511
2440,240.705164,226.539457,185.922191,168.500033,290.035954,279.742742,250.962303,238.653545,234.805785,227.535510,...,208.857830,218.029093,228.849692,171.215697,279.961126,240.757039,226.847671,211.633559,166.709436,143.486949
2441,240.650253,226.011644,185.890952,168.382861,289.422823,278.756074,250.840670,238.968754,234.783467,226.797449,...,208.542368,218.257235,228.114388,171.292280,279.911656,240.786015,226.294045,211.245207,166.626598,143.696783
2442,241.144028,225.805247,185.726816,169.035119,289.486406,278.480978,250.802820,238.572567,234.177401,227.027723,...,208.907106,218.212113,227.930641,171.462574,279.691493,240.950868,225.528282,211.006221,166.294203,142.921166

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.91
Fold 1 - Mean Absolute Error (MAE): 0.66
Fold 1 - Root Mean Squared Error (RMSE): 0.95
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.88
Fold 2 - Mean Absolute Error (MAE): 0.67
Fold 2 - Root Mean Squared Error (RMSE): 0.94
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.83
Fold 3 - Mean Absolute Error (MAE): 0.64
Fold 3 - Root Mean Squared Error (RMSE): 0.91
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.96
Fold 4 - Mean Absolute Error (MAE): 0.69
Fold 4 - Root Mean Squared Error (RMSE): 0.98
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.95
Fold 5 - Mean Absolute Error (MAE): 0.69
Fold 5 - Root Mean Squared Error (RMSE): 0.98
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.91
Mean - Mean Absolute Error (MAE): 0.67
Mean - Root Mean Squared Error (RMSE): 0.95
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 0.79
Fold 1 - Mean Absolute Error (MAE): 0.54
Fold 1 - Root Mean Squared Error (RMSE): 0.89
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 4.54
Fold 2 - Mean Absolute Error (MAE): 0.61
Fold 2 - Root Mean Squared Error (RMSE): 2.13
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 5.01
Fold 3 - Mean Absolute Error (MAE): 0.70
Fold 3 - Root Mean Squared Error (RMSE): 2.24
Fold 3 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 7.21
Fold 4 - Mean Absolute Error (MAE): 0.74
Fold 4 - Root Mean Squared Error (RMSE): 2.69
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 5.58
Fold 5 - Mean Absolute Error (MAE): 0.72
Fold 5 - Root Mean Squared Error (RMSE): 2.36
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 4.63
Mean - Mean Absolute Error (MAE): 0.66
Mean - Root Mean Squared Error (RMSE): 2.06
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 1.16
Fold 1 - Mean Absolute Error (MAE): 0.30
Fold 1 - Root Mean Squared Error (RMSE): 1.08
Fold 1 - Time taken: 2.36 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.43
Fold 2 - Mean Absolute Error (MAE): 0.27
Fold 2 - Root Mean Squared Error (RMSE): 0.65
Fold 2 - Time taken: 2.27 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.55
Fold 3 - Mean Absolute Error (MAE): 0.30
Fold 3 - Root Mean Squared Error (RMSE): 0.74
Fold 3 - Time taken: 3.34 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 1.66
Fold 4 - Mean Absolute Error (MAE): 0.34
Fold 4 - Root Mean Squared Error (RMSE): 1.29
Fold 4 - Time taken: 3.41 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.80
Fold 5 - Mean Absolute Error (MAE): 0.31
Fold 5 - Root Mean Squared Error (RMSE): 0.89
Fold 5 - Time taken: 3.57 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.92
Mean - Mean Absolute Error (MAE): 0.30
Mean - Root Mean Squared Error (RMSE): 0.93
Mean - Time taken: 2.99 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.09
Fold 1 - Mean Absolute Error (MAE): 0.19
Fold 1 - Root Mean Squared Error (RMSE): 0.30
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.11
Fold 2 - Mean Absolute Error (MAE): 0.20
Fold 2 - Root Mean Squared Error (RMSE): 0.33
Fold 2 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.14
Fold 3 - Mean Absolute Error (MAE): 0.22
Fold 3 - Root Mean Squared Error (RMSE): 0.38
Fold 3 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.12
Fold 4 - Mean Absolute Error (MAE): 0.21
Fold 4 - Root Mean Squared Error (RMSE): 0.34
Fold 4 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.14
Fold 5 - Mean Absolute Error (MAE): 0.22
Fold 5 - Root Mean Squared Error (RMSE): 0.37
Fold 5 - Time taken: 0.02 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.12
Mean - Mean Absolute Error (MAE): 0.21
Mean - Root Mean Squared Error (RMSE): 0.34
Mean - Time taken: 0.03 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 1.59
Fold 1 - Mean Absolute Error (MAE): 0.65
Fold 1 - Root Mean Squared Error (RMSE): 1.26
Fold 1 - Time taken: 1.86 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 2.86
Fold 2 - Mean Absolute Error (MAE): 0.68
Fold 2 - Root Mean Squared Error (RMSE): 1.69
Fold 2 - Time taken: 1.83 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 1.82
Fold 3 - Mean Absolute Error (MAE): 0.67
Fold 3 - Root Mean Squared Error (RMSE): 1.35
Fold 3 - Time taken: 1.85 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 1.32
Fold 4 - Mean Absolute Error (MAE): 0.65
Fold 4 - Root Mean Squared Error (RMSE): 1.15
Fold 4 - Time taken: 1.86 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 3.66
Fold 5 - Mean Absolute Error (MAE): 0.69
Fold 5 - Root Mean Squared Error (RMSE): 1.91
Fold 5 - Time taken: 1.83 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 2.25
Mean - Mean Absolute Error (MAE): 0.67
Mean - Root Mean Squared Error (RMSE): 1.47
Mean - Time taken: 1.85 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_smoothing1_Reg3.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_smoothing1_Reg3.xlsx file")

Results saved to Results__PL_model_1_smoothing1_Reg3.xlsx file