# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_Scattered_Reg3.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,217.387304,239.632697,182.725063,203.059660,264.890845,282.278849,235.977931,251.334953,219.915989,241.321246,...,214.917267,200.097971,223.118071,192.165241,268.938292,228.674862,190.456779,221.871669,150.526460,184.283621
1,219.216983,243.127927,186.076866,223.010844,258.217790,284.320675,238.608922,252.873845,225.261010,237.785939,...,204.559853,194.129695,226.526877,189.639239,271.669115,247.625906,200.880064,225.302866,155.694214,182.720021
2,215.481822,239.164306,181.619201,207.468166,258.417039,286.117682,236.709830,252.283666,224.949191,240.069946,...,202.729931,202.705497,227.549722,190.058791,267.890942,238.505997,207.549963,217.333086,155.818169,177.425112
3,226.912857,247.346521,178.527737,213.346028,265.617093,276.202148,227.382298,246.907115,226.114014,232.127600,...,196.970477,201.050381,235.438679,183.998234,265.697482,239.225517,199.571852,222.746420,148.976842,185.256562
4,215.854729,243.081486,194.388198,209.401136,256.016224,287.663834,225.265475,249.349604,222.300716,238.435527,...,209.957008,198.137327,226.222890,199.824567,263.585700,239.992091,202.597683,224.404725,150.253948,179.728113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,231.861402,231.271407,181.166326,170.837471,284.266499,281.454421,250.096372,233.984524,237.254345,230.833456,...,206.716732,213.482600,231.672060,171.866958,280.630909,238.596867,224.786270,214.040483,159.112946,135.015597
2439,240.631456,234.905586,187.530608,169.967064,291.177594,274.392715,254.065510,237.204343,229.794249,227.195860,...,218.209066,217.203975,235.623711,170.052648,280.954229,237.542731,232.369613,213.187594,166.395165,146.505704
2440,240.491672,221.013207,183.728473,165.157791,288.169408,278.552772,250.454405,241.635466,238.436237,224.733331,...,200.329198,217.664427,225.940879,176.382437,270.202165,244.186452,225.412719,212.400501,165.406860,147.567081
2441,242.202559,223.382961,185.631104,171.995249,300.768787,275.425026,253.157318,236.775310,224.089013,226.589322,...,206.793569,217.761307,232.585838,175.889921,284.951096,246.462395,227.389790,211.475883,157.014311,145.981187
2442,247.511962,221.663370,184.869120,169.457837,292.581997,278.591968,250.347536,237.940294,230.692789,221.176160,...,213.368955,218.888112,224.257645,175.028785,278.530441,241.066108,226.188127,206.196509,170.841993,147.096876

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,217.387304,239.632697,182.725063,203.059660,264.890845,282.278849,235.977931,251.334953,219.915989,241.321246,...,214.917267,200.097971,223.118071,192.165241,268.938292,228.674862,190.456779,221.871669,150.526460,184.283621
1,219.216983,243.127927,186.076866,223.010844,258.217790,284.320675,238.608922,252.873845,225.261010,237.785939,...,204.559853,194.129695,226.526877,189.639239,271.669115,247.625906,200.880064,225.302866,155.694214,182.720021
2,215.481822,239.164306,181.619201,207.468166,258.417039,286.117682,236.709830,252.283666,224.949191,240.069946,...,202.729931,202.705497,227.549722,190.058791,267.890942,238.505997,207.549963,217.333086,155.818169,177.425112
3,226.912857,247.346521,178.527737,213.346028,265.617093,276.202148,227.382298,246.907115,226.114014,232.127600,...,196.970477,201.050381,235.438679,183.998234,265.697482,239.225517,199.571852,222.746420,148.976842,185.256562
4,215.854729,243.081486,194.388198,209.401136,256.016224,287.663834,225.265475,249.349604,222.300716,238.435527,...,209.957008,198.137327,226.222890,199.824567,263.585700,239.992091,202.597683,224.404725,150.253948,179.728113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,231.861402,231.271407,181.166326,170.837471,284.266499,281.454421,250.096372,233.984524,237.254345,230.833456,...,206.716732,213.482600,231.672060,171.866958,280.630909,238.596867,224.786270,214.040483,159.112946,135.015597
2439,240.631456,234.905586,187.530608,169.967064,291.177594,274.392715,254.065510,237.204343,229.794249,227.195860,...,218.209066,217.203975,235.623711,170.052648,280.954229,237.542731,232.369613,213.187594,166.395165,146.505704
2440,240.491672,221.013207,183.728473,165.157791,288.169408,278.552772,250.454405,241.635466,238.436237,224.733331,...,200.329198,217.664427,225.940879,176.382437,270.202165,244.186452,225.412719,212.400501,165.406860,147.567081
2441,242.202559,223.382961,185.631104,171.995249,300.768787,275.425026,253.157318,236.775310,224.089013,226.589322,...,206.793569,217.761307,232.585838,175.889921,284.951096,246.462395,227.389790,211.475883,157.014311,145.981187
2442,247.511962,221.663370,184.869120,169.457837,292.581997,278.591968,250.347536,237.940294,230.692789,221.176160,...,213.368955,218.888112,224.257645,175.028785,278.530441,241.066108,226.188127,206.196509,170.841993,147.096876

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 22.74
Fold 1 - Mean Absolute Error (MAE): 3.27
Fold 1 - Root Mean Squared Error (RMSE): 4.77
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 22.62
Fold 2 - Mean Absolute Error (MAE): 3.31
Fold 2 - Root Mean Squared Error (RMSE): 4.76
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 22.13
Fold 3 - Mean Absolute Error (MAE): 3.26
Fold 3 - Root Mean Squared Error (RMSE): 4.70
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 24.96
Fold 4 - Mean Absolute Error (MAE): 3.38
Fold 4 - Root Mean Squared Error (RMSE): 5.00
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 25.54
Fold 5 - Mean Absolute Error (MAE): 3.52
Fold 5 - Root Mean Squared Error (RMSE): 5.05
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 23.60
Mean - Mean Absolute Error (MAE): 3.35
Mean - Root Mean Squared Error (RMSE): 4.86
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 215.27
Fold 1 - Mean Absolute Error (MAE): 7.78
Fold 1 - Root Mean Squared Error (RMSE): 14.67
Fold 1 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 181.01
Fold 2 - Mean Absolute Error (MAE): 7.32
Fold 2 - Root Mean Squared Error (RMSE): 13.45
Fold 2 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 198.43
Fold 3 - Mean Absolute Error (MAE): 7.78
Fold 3 - Root Mean Squared Error (RMSE): 14.09
Fold 3 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 195.60
Fold 4 - Mean Absolute Error (MAE): 7.80
Fold 4 - Root Mean Squared Error (RMSE): 13.99
Fold 4 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 187.47
Fold 5 - Mean Absolute Error (MAE): 7.39
Fold 5 - Root Mean Squared Error (RMSE): 13.69
Fold 5 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 195.55
Mean - Mean Absolute Error (MAE): 7.62
Mean - Root Mean Squared Error (RMSE): 13.98
Mean - Time taken: 0.05 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 45.28
Fold 1 - Mean Absolute Error (MAE): 4.44
Fold 1 - Root Mean Squared Error (RMSE): 6.73
Fold 1 - Time taken: 2.54 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 44.69
Fold 2 - Mean Absolute Error (MAE): 4.50
Fold 2 - Root Mean Squared Error (RMSE): 6.68
Fold 2 - Time taken: 2.54 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 43.69
Fold 3 - Mean Absolute Error (MAE): 4.40
Fold 3 - Root Mean Squared Error (RMSE): 6.61
Fold 3 - Time taken: 4.17 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 49.76
Fold 4 - Mean Absolute Error (MAE): 4.68
Fold 4 - Root Mean Squared Error (RMSE): 7.05
Fold 4 - Time taken: 4.26 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 50.61
Fold 5 - Mean Absolute Error (MAE): 4.64
Fold 5 - Root Mean Squared Error (RMSE): 7.11
Fold 5 - Time taken: 4.24 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 46.81
Mean - Mean Absolute Error (MAE): 4.53
Mean - Root Mean Squared Error (RMSE): 6.84
Mean - Time taken: 3.55 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 14.39
Fold 1 - Mean Absolute Error (MAE): 2.02
Fold 1 - Root Mean Squared Error (RMSE): 3.79
Fold 1 - Time taken: 0.10 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 12.69
Fold 2 - Mean Absolute Error (MAE): 2.03
Fold 2 - Root Mean Squared Error (RMSE): 3.56
Fold 2 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 15.19
Fold 3 - Mean Absolute Error (MAE): 2.16
Fold 3 - Root Mean Squared Error (RMSE): 3.90
Fold 3 - Time taken: 0.04 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 16.71
Fold 4 - Mean Absolute Error (MAE): 2.07
Fold 4 - Root Mean Squared Error (RMSE): 4.09
Fold 4 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 14.22
Fold 5 - Mean Absolute Error (MAE): 2.19
Fold 5 - Root Mean Squared Error (RMSE): 3.77
Fold 5 - Time taken: 0.05 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 14.64
Mean - Mean Absolute Error (MAE): 2.10
Mean - Root Mean Squared Error (RMSE): 3.82
Mean - Time taken: 0.06 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 57.77
Fold 1 - Mean Absolute Error (MAE): 4.92
Fold 1 - Root Mean Squared Error (RMSE): 7.60
Fold 1 - Time taken: 3.36 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 49.64
Fold 2 - Mean Absolute Error (MAE): 4.69
Fold 2 - Root Mean Squared Error (RMSE): 7.05
Fold 2 - Time taken: 1.99 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 59.28
Fold 3 - Mean Absolute Error (MAE): 5.07
Fold 3 - Root Mean Squared Error (RMSE): 7.70
Fold 3 - Time taken: 1.96 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 55.76
Fold 4 - Mean Absolute Error (MAE): 4.90
Fold 4 - Root Mean Squared Error (RMSE): 7.47
Fold 4 - Time taken: 2.00 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 63.51
Fold 5 - Mean Absolute Error (MAE): 5.05
Fold 5 - Root Mean Squared Error (RMSE): 7.97
Fold 5 - Time taken: 2.01 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 57.19
Mean - Mean Absolute Error (MAE): 4.93
Mean - Root Mean Squared Error (RMSE): 7.56
Mean - Time taken: 2.26 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_Scattered_Reg3.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_Scattered_Reg3.xlsx file")

Results saved to Results__PL_model_1_Scattered_Reg3.xlsx file