# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_smoothing2_Reg2.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,165.243675,191.472930,120.844514,161.973862,203.309157,223.942286,172.272042,201.715548,165.343468,181.189056,...,162.676355,160.308657,171.779385,134.252465,210.414208,182.083076,155.812278,184.634597,110.600911,152.888042
1,165.270370,191.619220,121.106482,162.092142,203.169182,223.871564,172.093343,201.375005,165.538999,181.421935,...,162.704305,160.165693,172.022959,134.354939,210.195337,181.743372,155.731854,184.679094,110.362424,152.731892
2,165.302643,191.768979,121.366443,162.209259,203.026693,223.798630,171.910986,201.032445,165.733919,181.652777,...,162.732617,160.022876,172.263765,134.456503,209.974871,181.403982,155.654399,184.723051,110.124378,152.574211
3,165.340422,191.921973,121.624512,162.325496,202.881402,223.723243,171.725116,200.688059,165.928499,181.881396,...,162.761213,159.880347,172.501652,134.557184,209.752425,181.064774,155.579700,184.766445,109.886510,152.415073
4,165.383411,192.077960,121.880971,162.441055,202.733207,223.645400,171.535999,200.342203,166.123080,182.107430,...,162.790045,159.738426,172.736318,134.657218,209.527727,180.725519,155.507653,184.809417,109.648511,152.254752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,183.851947,169.897148,138.281160,108.937324,232.694714,217.587301,196.776191,181.842620,177.813604,170.610492,...,162.979941,179.132099,171.526947,112.014481,220.481556,181.341623,187.811124,171.976998,136.395307,108.910087
2439,183.511357,169.679639,138.390898,109.054093,232.650925,217.531290,196.876168,182.050297,177.707430,170.562320,...,162.718275,179.004554,171.365925,112.141669,220.444739,181.449889,187.662169,171.959291,136.412017,109.095598
2440,183.169072,169.462522,138.500958,109.170887,232.606076,217.473657,196.976591,182.254254,177.601171,170.514881,...,162.454129,178.877790,171.205267,112.271075,220.409626,181.556351,187.512505,171.945252,136.426329,109.279941
2441,182.825475,169.246118,138.611468,109.287583,232.560118,217.414344,197.077582,182.454750,177.494501,170.468468,...,162.187125,178.751987,171.044821,112.402489,220.376130,181.660586,187.362046,171.934720,136.438444,109.462795
2442,182.480920,169.030592,138.722488,109.404024,232.513155,217.353402,197.179353,182.652230,177.387208,170.423237,...,161.917079,178.627367,170.884336,112.535554,220.344095,181.762446,187.210616,171.927396,136.448449,109.643939

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,165.243675,191.472930,120.844514,161.973862,203.309157,223.942286,172.272042,201.715548,165.343468,181.189056,...,162.676355,160.308657,171.779385,134.252465,210.414208,182.083076,155.812278,184.634597,110.600911,152.888042
1,165.270370,191.619220,121.106482,162.092142,203.169182,223.871564,172.093343,201.375005,165.538999,181.421935,...,162.704305,160.165693,172.022959,134.354939,210.195337,181.743372,155.731854,184.679094,110.362424,152.731892
2,165.302643,191.768979,121.366443,162.209259,203.026693,223.798630,171.910986,201.032445,165.733919,181.652777,...,162.732617,160.022876,172.263765,134.456503,209.974871,181.403982,155.654399,184.723051,110.124378,152.574211
3,165.340422,191.921973,121.624512,162.325496,202.881402,223.723243,171.725116,200.688059,165.928499,181.881396,...,162.761213,159.880347,172.501652,134.557184,209.752425,181.064774,155.579700,184.766445,109.886510,152.415073
4,165.383411,192.077960,121.880971,162.441055,202.733207,223.645400,171.535999,200.342203,166.123080,182.107430,...,162.790045,159.738426,172.736318,134.657218,209.527727,180.725519,155.507653,184.809417,109.648511,152.254752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,183.851947,169.897148,138.281160,108.937324,232.694714,217.587301,196.776191,181.842620,177.813604,170.610492,...,162.979941,179.132099,171.526947,112.014481,220.481556,181.341623,187.811124,171.976998,136.395307,108.910087
2439,183.511357,169.679639,138.390898,109.054093,232.650925,217.531290,196.876168,182.050297,177.707430,170.562320,...,162.718275,179.004554,171.365925,112.141669,220.444739,181.449889,187.662169,171.959291,136.412017,109.095598
2440,183.169072,169.462522,138.500958,109.170887,232.606076,217.473657,196.976591,182.254254,177.601171,170.514881,...,162.454129,178.877790,171.205267,112.271075,220.409626,181.556351,187.512505,171.945252,136.426329,109.279941
2441,182.825475,169.246118,138.611468,109.287583,232.560118,217.414344,197.077582,182.454750,177.494501,170.468468,...,162.187125,178.751987,171.044821,112.402489,220.376130,181.660586,187.362046,171.934720,136.438444,109.462795
2442,182.480920,169.030592,138.722488,109.404024,232.513155,217.353402,197.179353,182.652230,177.387208,170.423237,...,161.917079,178.627367,170.884336,112.535554,220.344095,181.762446,187.210616,171.927396,136.448449,109.643939

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.48
Fold 1 - Mean Absolute Error (MAE): 0.53
Fold 1 - Root Mean Squared Error (RMSE): 0.70
Fold 1 - Time taken: 0.02 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.45
Fold 2 - Mean Absolute Error (MAE): 0.50
Fold 2 - Root Mean Squared Error (RMSE): 0.67
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.46
Fold 3 - Mean Absolute Error (MAE): 0.51
Fold 3 - Root Mean Squared Error (RMSE): 0.68
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.46
Fold 4 - Mean Absolute Error (MAE): 0.51
Fold 4 - Root Mean Squared Error (RMSE): 0.68
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.44
Fold 5 - Mean Absolute Error (MAE): 0.49
Fold 5 - Root Mean Squared Error (RMSE): 0.66
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.46
Mean - Mean Absolute Error (MAE): 0.51
Mean - Root Mean Squared Error (RMSE): 0.68
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 0.82
Fold 1 - Mean Absolute Error (MAE): 0.41
Fold 1 - Root Mean Squared Error (RMSE): 0.91
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 0.26
Fold 2 - Mean Absolute Error (MAE): 0.35
Fold 2 - Root Mean Squared Error (RMSE): 0.51
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 2.98
Fold 3 - Mean Absolute Error (MAE): 0.44
Fold 3 - Root Mean Squared Error (RMSE): 1.73
Fold 3 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 0.61
Fold 4 - Mean Absolute Error (MAE): 0.38
Fold 4 - Root Mean Squared Error (RMSE): 0.78
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 4.53
Fold 5 - Mean Absolute Error (MAE): 0.45
Fold 5 - Root Mean Squared Error (RMSE): 2.13
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 1.84
Mean - Mean Absolute Error (MAE): 0.40
Mean - Root Mean Squared Error (RMSE): 1.21
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.25
Fold 1 - Mean Absolute Error (MAE): 0.22
Fold 1 - Root Mean Squared Error (RMSE): 0.50
Fold 1 - Time taken: 2.14 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.15
Fold 2 - Mean Absolute Error (MAE): 0.19
Fold 2 - Root Mean Squared Error (RMSE): 0.39
Fold 2 - Time taken: 2.46 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 0.27
Fold 3 - Mean Absolute Error (MAE): 0.22
Fold 3 - Root Mean Squared Error (RMSE): 0.52
Fold 3 - Time taken: 3.40 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.20
Fold 4 - Mean Absolute Error (MAE): 0.22
Fold 4 - Root Mean Squared Error (RMSE): 0.45
Fold 4 - Time taken: 3.40 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.44
Fold 5 - Mean Absolute Error (MAE): 0.24
Fold 5 - Root Mean Squared Error (RMSE): 0.66
Fold 5 - Time taken: 3.52 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.26
Mean - Mean Absolute Error (MAE): 0.22
Mean - Root Mean Squared Error (RMSE): 0.50
Mean - Time taken: 2.98 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.08
Fold 1 - Mean Absolute Error (MAE): 0.18
Fold 1 - Root Mean Squared Error (RMSE): 0.28
Fold 1 - Time taken: 0.08 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.11
Fold 2 - Mean Absolute Error (MAE): 0.19
Fold 2 - Root Mean Squared Error (RMSE): 0.32
Fold 2 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.12
Fold 3 - Mean Absolute Error (MAE): 0.20
Fold 3 - Root Mean Squared Error (RMSE): 0.34
Fold 3 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.11
Fold 4 - Mean Absolute Error (MAE): 0.20
Fold 4 - Root Mean Squared Error (RMSE): 0.33
Fold 4 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.12
Fold 5 - Mean Absolute Error (MAE): 0.20
Fold 5 - Root Mean Squared Error (RMSE): 0.35
Fold 5 - Time taken: 0.03 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.11
Mean - Mean Absolute Error (MAE): 0.20
Mean - Root Mean Squared Error (RMSE): 0.33
Mean - Time taken: 0.04 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 0.59
Fold 1 - Mean Absolute Error (MAE): 0.46
Fold 1 - Root Mean Squared Error (RMSE): 0.77
Fold 1 - Time taken: 3.53 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 0.78
Fold 2 - Mean Absolute Error (MAE): 0.49
Fold 2 - Root Mean Squared Error (RMSE): 0.88
Fold 2 - Time taken: 3.87 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 0.67
Fold 3 - Mean Absolute Error (MAE): 0.48
Fold 3 - Root Mean Squared Error (RMSE): 0.82
Fold 3 - Time taken: 4.57 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 0.79
Fold 4 - Mean Absolute Error (MAE): 0.50
Fold 4 - Root Mean Squared Error (RMSE): 0.89
Fold 4 - Time taken: 4.81 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 0.81
Fold 5 - Mean Absolute Error (MAE): 0.49
Fold 5 - Root Mean Squared Error (RMSE): 0.90
Fold 5 - Time taken: 5.01 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 0.73
Mean - Mean Absolute Error (MAE): 0.48
Mean - Root Mean Squared Error (RMSE): 0.85
Mean - Time taken: 4.36 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_smoothing2_Reg2.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_smoothing2_Reg2.xlsx file")

Results saved to Results__PL_model_1_smoothing2_Reg2.xlsx file