# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_smoothing1_Reg2.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,167.120153,192.978251,121.919826,162.405136,202.497189,223.248993,171.000392,200.440798,167.343042,181.665134,...,162.903806,160.387196,172.307826,134.762792,209.407866,180.668552,155.684285,185.132963,106.990497,151.975353
1,166.616956,192.350928,122.396140,162.714869,202.570363,223.579140,171.433087,200.542442,167.049476,181.768610,...,162.718932,159.887764,173.282627,134.771678,208.722938,181.104992,155.047037,185.065238,107.250461,152.101003
2,165.933834,192.505256,122.693139,162.946897,202.554133,224.030186,170.978935,200.609258,167.350666,182.034482,...,162.659443,159.375869,173.860309,134.869085,208.910433,180.499866,155.022065,184.982144,107.313707,152.087179
3,165.588748,192.579746,122.639617,162.531127,202.269000,224.125292,171.304616,200.108690,167.307491,182.706608,...,162.844948,159.446050,174.329754,134.790147,208.705357,180.145995,154.608481,184.663616,107.596279,152.009908
4,165.404207,192.482553,122.636044,162.535355,202.152282,223.985739,171.285120,200.581357,167.246596,182.941373,...,163.088484,159.313900,174.166748,134.755930,208.405614,179.892627,154.847122,184.433751,107.411862,152.067546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,185.270438,171.117321,138.038885,109.250988,233.371400,216.815900,196.604214,181.128657,179.198014,170.737314,...,164.330959,179.746418,172.685539,110.908622,220.055117,181.431152,187.931964,171.763209,136.805785,108.909664
2439,184.732390,170.953995,138.549998,108.898827,233.718361,217.051909,196.503271,181.064075,179.309397,170.610701,...,163.883049,179.195560,172.535919,110.658422,220.184177,181.506799,187.519198,171.691393,136.964335,108.856967
2440,184.927565,171.133247,138.036960,108.782298,233.372765,217.215685,196.663711,180.566577,179.502337,170.564726,...,163.802175,179.370179,172.320996,110.453929,220.723786,181.333755,187.093616,171.653383,136.684886,109.032732
2441,185.071948,170.722690,137.734062,109.070908,232.949313,217.551334,196.565568,180.824531,179.331637,170.318067,...,163.662133,179.111405,172.022824,111.240080,220.522831,181.025630,186.617445,171.423824,136.760987,108.487605
2442,184.372336,170.287845,137.361115,108.997876,232.903181,217.306232,196.822376,181.161934,179.532923,170.208307,...,163.547346,179.657941,171.158760,111.048799,220.416659,181.360279,186.457855,171.488049,136.102775,108.732712

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,167.120153,192.978251,121.919826,162.405136,202.497189,223.248993,171.000392,200.440798,167.343042,181.665134,...,162.903806,160.387196,172.307826,134.762792,209.407866,180.668552,155.684285,185.132963,106.990497,151.975353
1,166.616956,192.350928,122.396140,162.714869,202.570363,223.579140,171.433087,200.542442,167.049476,181.768610,...,162.718932,159.887764,173.282627,134.771678,208.722938,181.104992,155.047037,185.065238,107.250461,152.101003
2,165.933834,192.505256,122.693139,162.946897,202.554133,224.030186,170.978935,200.609258,167.350666,182.034482,...,162.659443,159.375869,173.860309,134.869085,208.910433,180.499866,155.022065,184.982144,107.313707,152.087179
3,165.588748,192.579746,122.639617,162.531127,202.269000,224.125292,171.304616,200.108690,167.307491,182.706608,...,162.844948,159.446050,174.329754,134.790147,208.705357,180.145995,154.608481,184.663616,107.596279,152.009908
4,165.404207,192.482553,122.636044,162.535355,202.152282,223.985739,171.285120,200.581357,167.246596,182.941373,...,163.088484,159.313900,174.166748,134.755930,208.405614,179.892627,154.847122,184.433751,107.411862,152.067546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,185.270438,171.117321,138.038885,109.250988,233.371400,216.815900,196.604214,181.128657,179.198014,170.737314,...,164.330959,179.746418,172.685539,110.908622,220.055117,181.431152,187.931964,171.763209,136.805785,108.909664
2439,184.732390,170.953995,138.549998,108.898827,233.718361,217.051909,196.503271,181.064075,179.309397,170.610701,...,163.883049,179.195560,172.535919,110.658422,220.184177,181.506799,187.519198,171.691393,136.964335,108.856967
2440,184.927565,171.133247,138.036960,108.782298,233.372765,217.215685,196.663711,180.566577,179.502337,170.564726,...,163.802175,179.370179,172.320996,110.453929,220.723786,181.333755,187.093616,171.653383,136.684886,109.032732
2441,185.071948,170.722690,137.734062,109.070908,232.949313,217.551334,196.565568,180.824531,179.331637,170.318067,...,163.662133,179.111405,172.022824,111.240080,220.522831,181.025630,186.617445,171.423824,136.760987,108.487605
2442,184.372336,170.287845,137.361115,108.997876,232.903181,217.306232,196.822376,181.161934,179.532923,170.208307,...,163.547346,179.657941,171.158760,111.048799,220.416659,181.360279,186.457855,171.488049,136.102775,108.732712

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 0.77
Fold 1 - Mean Absolute Error (MAE): 0.67
Fold 1 - Root Mean Squared Error (RMSE): 0.87
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 0.78
Fold 2 - Mean Absolute Error (MAE): 0.66
Fold 2 - Root Mean Squared Error (RMSE): 0.88
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 0.74
Fold 3 - Mean Absolute Error (MAE): 0.65
Fold 3 - Root Mean Squared Error (RMSE): 0.86
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 0.78
Fold 4 - Mean Absolute Error (MAE): 0.64
Fold 4 - Root Mean Squared Error (RMSE): 0.88
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 0.74
Fold 5 - Mean Absolute Error (MAE): 0.63
Fold 5 - Root Mean Squared Error (RMSE): 0.86
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 0.76
Mean - Mean Absolute Error (MAE): 0.65
Mean - Root Mean Squared Error (RMSE): 0.87
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 2.50
Fold 1 - Mean Absolute Error (MAE): 0.60
Fold 1 - Root Mean Squared Error (RMSE): 1.58
Fold 1 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 3.43
Fold 2 - Mean Absolute Error (MAE): 0.68
Fold 2 - Root Mean Squared Error (RMSE): 1.85
Fold 2 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 10.34
Fold 3 - Mean Absolute Error (MAE): 0.89
Fold 3 - Root Mean Squared Error (RMSE): 3.21
Fold 3 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 3.50
Fold 4 - Mean Absolute Error (MAE): 0.66
Fold 4 - Root Mean Squared Error (RMSE): 1.87
Fold 4 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 2.74
Fold 5 - Mean Absolute Error (MAE): 0.61
Fold 5 - Root Mean Squared Error (RMSE): 1.65
Fold 5 - Time taken: 0.04 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 4.50
Mean - Mean Absolute Error (MAE): 0.69
Mean - Root Mean Squared Error (RMSE): 2.03
Mean - Time taken: 0.04 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 0.39
Fold 1 - Mean Absolute Error (MAE): 0.27
Fold 1 - Root Mean Squared Error (RMSE): 0.62
Fold 1 - Time taken: 2.27 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 0.56
Fold 2 - Mean Absolute Error (MAE): 0.23
Fold 2 - Root Mean Squared Error (RMSE): 0.75
Fold 2 - Time taken: 2.31 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 1.52
Fold 3 - Mean Absolute Error (MAE): 0.32
Fold 3 - Root Mean Squared Error (RMSE): 1.23
Fold 3 - Time taken: 3.57 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 0.32
Fold 4 - Mean Absolute Error (MAE): 0.24
Fold 4 - Root Mean Squared Error (RMSE): 0.56
Fold 4 - Time taken: 3.78 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 0.36
Fold 5 - Mean Absolute Error (MAE): 0.25
Fold 5 - Root Mean Squared Error (RMSE): 0.60
Fold 5 - Time taken: 3.82 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 0.63
Mean - Mean Absolute Error (MAE): 0.26
Mean - Root Mean Squared Error (RMSE): 0.75
Mean - Time taken: 3.15 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 0.09
Fold 1 - Mean Absolute Error (MAE): 0.19
Fold 1 - Root Mean Squared Error (RMSE): 0.31
Fold 1 - Time taken: 0.11 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 0.11
Fold 2 - Mean Absolute Error (MAE): 0.20
Fold 2 - Root Mean Squared Error (RMSE): 0.33
Fold 2 - Time taken: 0.06 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 0.15
Fold 3 - Mean Absolute Error (MAE): 0.22
Fold 3 - Root Mean Squared Error (RMSE): 0.38
Fold 3 - Time taken: 0.06 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 0.12
Fold 4 - Mean Absolute Error (MAE): 0.21
Fold 4 - Root Mean Squared Error (RMSE): 0.34
Fold 4 - Time taken: 0.06 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 0.12
Fold 5 - Mean Absolute Error (MAE): 0.21
Fold 5 - Root Mean Squared Error (RMSE): 0.35
Fold 5 - Time taken: 0.06 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 0.12
Mean - Mean Absolute Error (MAE): 0.21
Mean - Root Mean Squared Error (RMSE): 0.34
Mean - Time taken: 0.07 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 1.68
Fold 1 - Mean Absolute Error (MAE): 0.65
Fold 1 - Root Mean Squared Error (RMSE): 1.30
Fold 1 - Time taken: 4.85 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 1.58
Fold 2 - Mean Absolute Error (MAE): 0.64
Fold 2 - Root Mean Squared Error (RMSE): 1.26
Fold 2 - Time taken: 5.01 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 3.65
Fold 3 - Mean Absolute Error (MAE): 0.66
Fold 3 - Root Mean Squared Error (RMSE): 1.91
Fold 3 - Time taken: 5.32 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 1.01
Fold 4 - Mean Absolute Error (MAE): 0.62
Fold 4 - Root Mean Squared Error (RMSE): 1.01
Fold 4 - Time taken: 3.94 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 1.15
Fold 5 - Mean Absolute Error (MAE): 0.60
Fold 5 - Root Mean Squared Error (RMSE): 1.07
Fold 5 - Time taken: 3.45 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 1.81
Mean - Mean Absolute Error (MAE): 0.63
Mean - Root Mean Squared Error (RMSE): 1.31
Mean - Time taken: 4.51 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_smoothing1_Reg2.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_smoothing1_Reg2.xlsx file")

Results saved to Results__PL_model_1_smoothing1_Reg2.xlsx file