# Importing Libraries for Data Engineering

In [1]:
import numpy as np
import pandas as pd

# Loading Dataset

In [2]:
sensors_data = pd.read_excel('PL_model_1_Scattered_Reg2.xlsx', header=None)

In [3]:
sensors_data

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,172.360911,198.698898,121.363501,160.748513,202.499388,232.822808,168.632401,199.493193,164.679481,177.628746,...,162.732384,160.030382,169.678207,135.263693,214.033213,180.031244,162.028360,189.460195,110.539577,152.588802
1,166.296893,193.903892,115.600204,155.129616,214.455008,219.996785,169.183957,199.994701,161.466782,185.240605,...,165.732941,160.236901,172.716496,133.458960,212.467698,189.105376,158.462646,178.879499,114.537605,152.156101
2,176.651492,190.236048,116.590044,170.190377,193.769774,219.342484,168.475106,191.204758,164.559102,186.545886,...,160.350716,154.632700,178.171720,125.746017,206.064571,183.335022,148.591627,182.388360,110.232965,144.684928
3,169.240405,194.123707,129.025909,156.078737,200.534552,216.315637,175.937287,209.187138,169.290122,178.631353,...,165.758159,160.230700,169.323863,133.493971,208.195730,177.192519,164.454454,180.018405,96.014828,154.401898
4,161.039650,194.849887,126.197054,163.840713,204.367203,222.484022,170.983469,201.431757,162.756180,172.346699,...,163.355101,165.211009,170.248962,140.103333,201.208208,177.592137,157.491865,185.918652,117.597141,151.603599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,181.245214,164.287448,138.192933,108.488997,231.463336,216.307978,196.624613,173.587108,183.642126,171.838412,...,156.929008,182.575110,170.941661,117.944039,219.751293,182.235793,189.209821,173.955258,134.553951,109.122599
2439,195.037339,169.041186,133.922141,104.737884,230.084562,217.194307,193.064322,183.724746,193.400698,167.595070,...,166.544534,181.052463,167.221663,117.773440,222.948420,175.224586,190.740649,178.321505,136.214719,111.137296
2440,182.814296,181.623425,142.281230,111.597687,227.649577,213.521915,193.936353,175.111805,175.687648,174.554387,...,157.645839,177.192679,178.387387,115.644471,222.105130,172.307717,189.402601,173.823475,138.565298,108.035843
2441,181.395257,170.335565,136.894954,109.927367,236.149469,219.412274,199.783831,180.232828,174.865073,173.082784,...,151.768313,177.730222,166.470572,112.461426,220.258529,181.032729,188.063658,174.705130,140.198055,103.798161
2442,187.288652,170.548328,141.485074,107.160129,232.043615,215.286278,199.924494,190.494727,176.715670,171.357024,...,161.567614,187.842578,170.745940,107.742276,219.572528,180.629743,181.027870,161.388162,130.086955,109.264857

In [4]:
position_data = pd.read_excel('real_positions_Reg2_3.xlsx', header=None)

In [5]:
position_data

              0          1       2
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

# Data Engineering

### Sensors Data -- Labeling Columns

In [6]:
Sensors_Number_of_Columns = sensors_data.shape[1]

In [7]:
Sensors_columns = ["sensor" + str(x) for x in range(1,Sensors_Number_of_Columns + 1)]
sensors_data.columns = (Sensors_columns)

In [8]:
sensors_data

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,...,sensor39,sensor40,sensor41,sensor42,sensor43,sensor44,sensor45,sensor46,sensor47,sensor48
0,172.360911,198.698898,121.363501,160.748513,202.499388,232.822808,168.632401,199.493193,164.679481,177.628746,...,162.732384,160.030382,169.678207,135.263693,214.033213,180.031244,162.028360,189.460195,110.539577,152.588802
1,166.296893,193.903892,115.600204,155.129616,214.455008,219.996785,169.183957,199.994701,161.466782,185.240605,...,165.732941,160.236901,172.716496,133.458960,212.467698,189.105376,158.462646,178.879499,114.537605,152.156101
2,176.651492,190.236048,116.590044,170.190377,193.769774,219.342484,168.475106,191.204758,164.559102,186.545886,...,160.350716,154.632700,178.171720,125.746017,206.064571,183.335022,148.591627,182.388360,110.232965,144.684928
3,169.240405,194.123707,129.025909,156.078737,200.534552,216.315637,175.937287,209.187138,169.290122,178.631353,...,165.758159,160.230700,169.323863,133.493971,208.195730,177.192519,164.454454,180.018405,96.014828,154.401898
4,161.039650,194.849887,126.197054,163.840713,204.367203,222.484022,170.983469,201.431757,162.756180,172.346699,...,163.355101,165.211009,170.248962,140.103333,201.208208,177.592137,157.491865,185.918652,117.597141,151.603599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2438,181.245214,164.287448,138.192933,108.488997,231.463336,216.307978,196.624613,173.587108,183.642126,171.838412,...,156.929008,182.575110,170.941661,117.944039,219.751293,182.235793,189.209821,173.955258,134.553951,109.122599
2439,195.037339,169.041186,133.922141,104.737884,230.084562,217.194307,193.064322,183.724746,193.400698,167.595070,...,166.544534,181.052463,167.221663,117.773440,222.948420,175.224586,190.740649,178.321505,136.214719,111.137296
2440,182.814296,181.623425,142.281230,111.597687,227.649577,213.521915,193.936353,175.111805,175.687648,174.554387,...,157.645839,177.192679,178.387387,115.644471,222.105130,172.307717,189.402601,173.823475,138.565298,108.035843
2441,181.395257,170.335565,136.894954,109.927367,236.149469,219.412274,199.783831,180.232828,174.865073,173.082784,...,151.768313,177.730222,166.470572,112.461426,220.258529,181.032729,188.063658,174.705130,140.198055,103.798161
2442,187.288652,170.548328,141.485074,107.160129,232.043615,215.286278,199.924494,190.494727,176.715670,171.357024,...,161.567614,187.842578,170.745940,107.742276,219.572528,180.629743,181.027870,161.388162,130.086955,109.264857

### Converting to Pandas Dataframe

In [9]:
sensors_data = pd.DataFrame(sensors_data)

### Position Data -- Labeling Columns

In [10]:
position_data.columns = ['Pos X', 'Pos Y', 'Pos Z']

In [11]:
position_data

          Pos X      Pos Y   Pos Z
0    -75.968791  60.239368 -105.00
1    -75.314716  60.181623 -104.93
2    -74.653109  60.131806 -104.86
3    -73.984037  60.089935 -104.79
4    -73.307567  60.056029 -104.72
...         ...        ...     ...
2438 -99.899763  81.788725   65.66
2439 -99.939531  81.389997   65.73
2440 -99.969304  80.990713   65.80
2441 -99.989081  80.591032   65.87
2442 -99.998859  80.191116   65.94

[2443 rows x 3 columns]

### Converting to Pandas Dataframe

In [12]:
position_data = pd.DataFrame(position_data)

# Importing Libraries

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor

import time
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Converting Numpy Arrays to Pandas DataFrames for Sensor and Position Data

In [14]:
X = sensors_data
y = position_data

# convert numpy array into pandas dataframe
X = pd.DataFrame(X)
y = pd.DataFrame(y)

# Define models

In [15]:
models = [LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor(), XGBRegressor()]

# Define k-fold cross-validation

In [16]:
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# Create empty dictionary to store the results

In [17]:
results_dict = {
    "Model": [],
    "Fold": [],
    "Mean Squared Error (MSE)": [],
    "Mean Absolute Error (MAE)": [],
    "Root Mean Squared Error (RMSE)": [],
    "Time taken": []
}

# Train and evaluate each model using k-fold cross-validation

In [18]:
for model in models:
    # Evaluate the performance of the model using k-fold cross-validation
    scores_mse = []
    scores_mae = []
    scores_rmse = []
    times = []
    for i, (train_index, test_index) in enumerate(kfold.split(X)):
        start_time = time.time()
        
        X_train_fold, X_val_fold = X.iloc[train_index], X.iloc[test_index]
        y_train_fold, y_val_fold = y.iloc[train_index], y.iloc[test_index]
        model.fit(X_train_fold, y_train_fold)
        y_pred_fold = model.predict(X_val_fold)
        
        
        mse = mean_squared_error(y_val_fold, y_pred_fold)
        mae = mean_absolute_error(y_val_fold, y_pred_fold)
        rmse = np.sqrt(mse)
        end_time = time.time()
        time_taken = end_time - start_time
        scores_mse.append(mse)
        scores_mae.append(mae)
        scores_rmse.append(rmse)
        times.append(time_taken)
        
        # Add the results to the dictionary
        results_dict["Model"].append(type(model).__name__)
        results_dict["Fold"].append(i+1)
        results_dict["Mean Squared Error (MSE)"].append(mse)
        results_dict["Mean Absolute Error (MAE)"].append(mae)
        results_dict["Root Mean Squared Error (RMSE)"].append(rmse)
        results_dict["Time taken"].append(time_taken)
        
        print(f"Model: {type(model).__name__}")
        print(f"Fold {i+1} - Mean Squared Error (MSE): {mse:.2f}")
        print(f"Fold {i+1} - Mean Absolute Error (MAE): {mae:.2f}")
        print(f"Fold {i+1} - Root Mean Squared Error (RMSE): {rmse:.2f}")
        print(f"Fold {i+1} - Time taken: {time_taken:.2f} seconds")
    
    # Calculate mean time and results for all the folds
    mean_mse = np.mean(scores_mse)
    mean_mae = np.mean(scores_mae)
    mean_rmse = np.mean(scores_rmse)
    mean_time = np.mean(times)

    # Add the mean results to the dictionary
    results_dict["Model"].append(type(model).__name__)
    results_dict["Fold"].append("Mean")
    results_dict["Mean Squared Error (MSE)"].append(mean_mse)
    results_dict["Mean Absolute Error (MAE)"].append(mean_mae)
    results_dict["Root Mean Squared Error (RMSE)"].append(mean_rmse)
    results_dict["Time taken"].append(mean_time)

    print(f"Model: {type(model).__name__}")
    print(f"Mean - Mean Squared Error (MSE): {mean_mse:.2f}")
    print(f"Mean - Mean Absolute Error (MAE): {mean_mae:.2f}")
    print(f"Mean - Root Mean Squared Error (RMSE): {mean_rmse:.2f}")
    print(f"Mean - Time taken: {mean_time:.2f} seconds")

    
#Convert the results dictionary into a pandas dataframe
results_df = pd.DataFrame.from_dict(results_dict)

Model: LinearRegression
Fold 1 - Mean Squared Error (MSE): 13.01
Fold 1 - Mean Absolute Error (MAE): 2.70
Fold 1 - Root Mean Squared Error (RMSE): 3.61
Fold 1 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 2 - Mean Squared Error (MSE): 14.70
Fold 2 - Mean Absolute Error (MAE): 2.83
Fold 2 - Root Mean Squared Error (RMSE): 3.83
Fold 2 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 3 - Mean Squared Error (MSE): 14.43
Fold 3 - Mean Absolute Error (MAE): 2.87
Fold 3 - Root Mean Squared Error (RMSE): 3.80
Fold 3 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 4 - Mean Squared Error (MSE): 14.87
Fold 4 - Mean Absolute Error (MAE): 2.89
Fold 4 - Root Mean Squared Error (RMSE): 3.86
Fold 4 - Time taken: 0.01 seconds
Model: LinearRegression
Fold 5 - Mean Squared Error (MSE): 16.47
Fold 5 - Mean Absolute Error (MAE): 3.00
Fold 5 - Root Mean Squared Error (RMSE): 4.06
Fold 5 - Time taken: 0.01 seconds
Model: LinearRegression
Mean - Mean Squared Error (MSE): 14.69
Mean - Mean Absolute Error (MAE): 2.86
Mean - Root Mean Squared Error (RMSE): 3.83
Mean - Time taken: 0.01 seconds
Model: DecisionTreeRegressor
Fold 1 - Mean Squared Error (MSE): 145.78
Fold 1 - Mean Absolute Error (MAE): 6.69
Fold 1 - Root Mean Squared Error (RMSE): 12.07
Fold 1 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 2 - Mean Squared Error (MSE): 122.12
Fold 2 - Mean Absolute Error (MAE): 6.19
Fold 2 - Root Mean Squared Error (RMSE): 11.05
Fold 2 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 3 - Mean Squared Error (MSE): 142.66
Fold 3 - Mean Absolute Error (MAE): 6.64
Fold 3 - Root Mean Squared Error (RMSE): 11.94
Fold 3 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 4 - Mean Squared Error (MSE): 119.93
Fold 4 - Mean Absolute Error (MAE): 6.03
Fold 4 - Root Mean Squared Error (RMSE): 10.95
Fold 4 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Fold 5 - Mean Squared Error (MSE): 115.66
Fold 5 - Mean Absolute Error (MAE): 5.94
Fold 5 - Root Mean Squared Error (RMSE): 10.75
Fold 5 - Time taken: 0.05 seconds
Model: DecisionTreeRegressor
Mean - Mean Squared Error (MSE): 129.23
Mean - Mean Absolute Error (MAE): 6.30
Mean - Root Mean Squared Error (RMSE): 11.35
Mean - Time taken: 0.05 seconds
Model: RandomForestRegressor
Fold 1 - Mean Squared Error (MSE): 26.19
Fold 1 - Mean Absolute Error (MAE): 3.55
Fold 1 - Root Mean Squared Error (RMSE): 5.12
Fold 1 - Time taken: 2.56 seconds
Model: RandomForestRegressor
Fold 2 - Mean Squared Error (MSE): 21.36
Fold 2 - Mean Absolute Error (MAE): 3.37
Fold 2 - Root Mean Squared Error (RMSE): 4.62
Fold 2 - Time taken: 2.68 seconds
Model: RandomForestRegressor
Fold 3 - Mean Squared Error (MSE): 27.60
Fold 3 - Mean Absolute Error (MAE): 3.72
Fold 3 - Root Mean Squared Error (RMSE): 5.25
Fold 3 - Time taken: 4.24 seconds
Model: RandomForestRegressor
Fold 4 - Mean Squared Error (MSE): 23.08
Fold 4 - Mean Absolute Error (MAE): 3.40
Fold 4 - Root Mean Squared Error (RMSE): 4.80
Fold 4 - Time taken: 4.24 seconds
Model: RandomForestRegressor
Fold 5 - Mean Squared Error (MSE): 23.94
Fold 5 - Mean Absolute Error (MAE): 3.44
Fold 5 - Root Mean Squared Error (RMSE): 4.89
Fold 5 - Time taken: 4.25 seconds
Model: RandomForestRegressor
Mean - Mean Squared Error (MSE): 24.43
Mean - Mean Absolute Error (MAE): 3.50
Mean - Root Mean Squared Error (RMSE): 4.94
Mean - Time taken: 3.59 seconds
Model: KNeighborsRegressor
Fold 1 - Mean Squared Error (MSE): 5.20
Fold 1 - Mean Absolute Error (MAE): 1.42
Fold 1 - Root Mean Squared Error (RMSE): 2.28
Fold 1 - Time taken: 0.14 seconds
Model: KNeighborsRegressor
Fold 2 - Mean Squared Error (MSE): 5.81
Fold 2 - Mean Absolute Error (MAE): 1.46
Fold 2 - Root Mean Squared Error (RMSE): 2.41
Fold 2 - Time taken: 0.07 seconds
Model: KNeighborsRegressor
Fold 3 - Mean Squared Error (MSE): 6.26
Fold 3 - Mean Absolute Error (MAE): 1.51
Fold 3 - Root Mean Squared Error (RMSE): 2.50
Fold 3 - Time taken: 0.07 seconds
Model: KNeighborsRegressor
Fold 4 - Mean Squared Error (MSE): 5.98
Fold 4 - Mean Absolute Error (MAE): 1.52
Fold 4 - Root Mean Squared Error (RMSE): 2.45
Fold 4 - Time taken: 0.07 seconds
Model: KNeighborsRegressor
Fold 5 - Mean Squared Error (MSE): 5.55
Fold 5 - Mean Absolute Error (MAE): 1.43
Fold 5 - Root Mean Squared Error (RMSE): 2.36
Fold 5 - Time taken: 0.06 seconds
Model: KNeighborsRegressor
Mean - Mean Squared Error (MSE): 5.76
Mean - Mean Absolute Error (MAE): 1.47
Mean - Root Mean Squared Error (RMSE): 2.40
Mean - Time taken: 0.08 seconds
Model: XGBRegressor
Fold 1 - Mean Squared Error (MSE): 29.53
Fold 1 - Mean Absolute Error (MAE): 3.71
Fold 1 - Root Mean Squared Error (RMSE): 5.43
Fold 1 - Time taken: 6.20 seconds
Model: XGBRegressor
Fold 2 - Mean Squared Error (MSE): 33.46
Fold 2 - Mean Absolute Error (MAE): 3.74
Fold 2 - Root Mean Squared Error (RMSE): 5.78
Fold 2 - Time taken: 5.61 seconds
Model: XGBRegressor
Fold 3 - Mean Squared Error (MSE): 29.13
Fold 3 - Mean Absolute Error (MAE): 3.69
Fold 3 - Root Mean Squared Error (RMSE): 5.40
Fold 3 - Time taken: 4.04 seconds
Model: XGBRegressor
Fold 4 - Mean Squared Error (MSE): 32.28
Fold 4 - Mean Absolute Error (MAE): 3.86
Fold 4 - Root Mean Squared Error (RMSE): 5.68
Fold 4 - Time taken: 2.15 seconds
Model: XGBRegressor
Fold 5 - Mean Squared Error (MSE): 35.53
Fold 5 - Mean Absolute Error (MAE): 3.79
Fold 5 - Root Mean Squared Error (RMSE): 5.96
Fold 5 - Time taken: 2.01 seconds
Model: XGBRegressor
Mean - Mean Squared Error (MSE): 31.98
Mean - Mean Absolute Error (MAE): 3.76
Mean - Root Mean Squared Error (RMSE): 5.65
Mean - Time taken: 4.00 seconds

# Saving the results to an Excel file

In [19]:
results_df.to_excel("Results__PL_model_1_Scattered_Reg2.xlsx", index=False)

#Print a message indicating that the results have been saved to a file
print("Results saved to Results__PL_model_1_Scattered_Reg2.xlsx file")

Results saved to Results__PL_model_1_Scattered_Reg2.xlsx file